pkgbase = wps-office-365
	pkgdesc = WPS Office, is an office productivity suite.
	pkgver = 12.8.2.15283
	pkgrel = 1
	url = https://365.wps.cn/
	arch = x86_64
	license = LicenseRef-WPS-EULA
	depends = fontconfig
	depends = xorg-mkfontdir
	depends = libxrender
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = xdg-utils
	depends = glu
	depends = openssl-1.1
	depends = sdl2
	depends = libpulse
	depends = hicolor-icon-theme
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libxslt
	depends = qt5-base
	depends = libjpeg-turbo
	depends = libpng12
	optdepends = libtiff5: Provide libtiff.so.5 for wpspdf working
	optdepends = cups: for printing support
	optdepends = libjpeg-turbo: JPEG image codec support
	optdepends = pango: for complex (right-to-left) text support
	optdepends = curl: An URL retrieval utility and library
	optdepends = ttf-wps-fonts: Symbol fonts required by wps-office
	provides = wps-office
	conflicts = wps-office
	source = 0001-fix-wps-python-parse.patch
	sha256sums = 4cdee1973f15666d64c7e4e8403c37a1702997e7905135a402d91d9932066dd6
	source_x86_64 = https://ks3.wpsplus.wpscdn.cn/img/wps-office_12.8.2.15283.AK.preload.sw_amd64.deb
	sha256sums_x86_64 = adf958d5cc0f99890991cb77e703de4b8c5f44944a9647ab813591618b8ffd01

pkgname = wps-office-365
