pkgbase = wps-office-365
	pkgdesc = WPS Office, is an office productivity suite.
	pkgver = 12.8.2.15283
	pkgrel = 1
	url = https://365.wps.cn/
	arch = x86_64
	license = LicenseRef-WPS-EULA
	depends = fontconfig
	depends = xorg-mkfontdir
	depends = libxrender
	depends = desktop-file-utils
	depends = shared-mime-info
	depends = xdg-utils
	depends = glu
	depends = openssl-1.1
	depends = sdl2
	depends = libpulse
	depends = hicolor-icon-theme
	depends = libxss
	depends = sqlite
	depends = libtool
	depends = libxslt
	depends = qt5-base
	depends = libjpeg-turbo
	depends = libpng12
	optdepends = libtiff5: Provide libtiff.so.5 for wpspdf working
	optdepends = cups: for printing support
	optdepends = libjpeg-turbo: JPEG image codec support
	optdepends = pango: for complex (right-to-left) text support
	optdepends = curl: An URL retrieval utility and library
	optdepends = ttf-wps-fonts: Symbol fonts required by wps-office
	provides = wps-office
	conflicts = wps-office
	source = https://ks3.wpsplus.wpscdn.cn/img/wps-office_12.8.2.15283.AK.preload.sw_amd64.deb
	source = 0001-fix-wps-python-parse.patch
	sha512sums = e8d424629cbbf77cd7165ff955e2a95ebbb2607811f3ddf50fa708239c03237337936b714b3322731223d050a3b4f22794ac270d197fb57fd97c3d5397da84a4
	sha512sums = bf9a86888130f38abee292391e834f31d8527769a5726c897c7443b1fe3861f01c31574950d72153ec0cd0aecd9e3626e670071b4b47b2669da823742e685862

pkgname = wps-office-365
